body {
  background-color: #380B61; //#210B61;
}

.outline {
  background-color: #013ADF; // #2E64FE;
  border-radius: 20px;
  box-shadow: -15px 15px 20px #151515, inset 0 0 30px #000000;
  color: #F6E3CE;
  font-size: 30px;
  margin: 100px auto;  
  padding: 20px;
  text-align: center;
  text-shadow: -3px 3px 5px #000000;
  width: 340px;
}

.numbers {
  background-color: #58ACFA;
  border-radius: 10px;
  margin-top: 20px;  
  padding: 10px;
  text-align:center;
  width:300px;
}

.display {
  background-color: #4B9030;
  box-shadow: inset -8px 8px 4px #2C3329; //#2D57E5; 
  border: solid 2px white;
  border-radius: 5px;  
  color: black;
  margin: 0px 6px 25px 6px;  
  font-family: "orbitron";  
  padding: 3px;
  padding-right: 9px;
  text-align: right;
  text-shadow: 0 0 0 #000000;
}

.buttons {
  color: black;
}

.b,.c,.n {
  box-shadow: inset -2px 2px 7px #2D57E5;
  border-radius: 10px;
  font-size: 25px;
  height: 50px;
  margin: 2px;
  width: 60px;  
}

#one,#two,#three {
  vertical-align: top;
}

#zero {
  width: 132px;
}

#equal {
  height: 105px;
}

.zd {
  float:left;
  margin-left: 0px;
  margin-top: -55px;
}
